[submodule "Thirdparty/assimp"]
	path = Deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Thirdparty/Vulkan-Headers"]
	path = Deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Thirdparty/meshoptimizer"]
	path = Deps/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Thirdparty/glfw"]
	path = Deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Thirdparty/stb"]
	path = Deps/stb
	url = https://github.com/nothings/stb.git
[submodule "Thirdparty/Math"]
	path = Deps/Math
	url = https://github.com/ShenMian/Math
[submodule "Thirdparty/shaderc"]
	path = Deps/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Thirdparty/glslang"]
	path = Deps/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Thirdparty/SPIRV-Tools"]
	path = Deps/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "Thirdparty/SPIRV-Headers"]
	path = Deps/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "Deps/vk-bootstrap"]
	path = Deps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "Deps/imgui"]
	path = Deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "Deps/imgui-node-editor"]
	path = Deps/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "Deps/ImGuizmo"]
	path = Deps/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
