[submodule "Thirdparty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Thirdparty/Vulkan-Headers"]
	path = ThirdParty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Thirdparty/meshoptimizer"]
	path = ThirdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "Thirdparty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Thirdparty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Thirdparty/Math"]
	path = ThirdParty/Math
	url = https://github.com/ShenMian/Math
[submodule "Thirdparty/shaderc"]
	path = ThirdParty/shaderc
	url = https://github.com/google/shaderc.git
[submodule "Thirdparty/glslang"]
	path = ThirdParty/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Thirdparty/SPIRV-Tools"]
	path = ThirdParty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "Thirdparty/SPIRV-Headers"]
	path = ThirdParty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
