name: macOS

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        arch: [x64] # arm64
        type: [Debug, Release]

    runs-on: macos-latest
    name: ${{ matrix.type }}-${{ matrix.arch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          
      - name: Install Conan
        uses: turtlebrowser/get-conan@v1.0

      - name: Install dependencies
        run: |
          export CONAN_SYSREQUIRES_MODE=enabled
          conan install . --build=missing -if build -of build -s build_type=${{ matrix.type }} -s compiler=clang -s compiler.version=13

      - name: Generating CMake cache
        run: cmake -B build -DUSE_CONAN=ON

      - name: Build
        run: cmake --build build --config ${{ matrix.type }} -j16

      - name: Upload libs
        uses: actions/upload-artifact@v3
        with:
          name: graphics-macos-${{ matrix.type }}-${{ matrix.arch }}
          path: build/lib/libgraphics.a

      - name: Upload bins
        uses: actions/upload-artifact@v3
        with:
          name: examples-macos-${{ matrix.type }}-${{ matrix.arch }}
          path: build/bin/*/*
